<div class="container">
  <div class="botao-voltar">
    <br>
    <a mat-stroked-button color="primary" [routerLink]="'/'" routerLinkActive="active">
      <i class="fas fa-fw fa-arrow-left"></i> Voltar
    </a>
  </div>
  <div class="header-pagina">
    <br>
    <h2>Problemas</h2>
  </div>

  <mat-form-field style="width:100%">
    <mat-label><i class="fas fa-fw fa-search"></i> Filtrar</mat-label>
    <input matInput (keyup)="applyFilter($event)">
  </mat-form-field>
  <table *ngIf="problemas" mat-table [dataSource]="dados">
    <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

    <ng-container matColumnDef="descricao">
      <th mat-header-cell *matHeaderCellDef> Descricao </th>
      <td mat-cell *matCellDef="let problema"> {{problema.descricao}} </td>
    </ng-container>

    <ng-container matColumnDef="procedimentos">
      <th mat-header-cell *matHeaderCellDef> Procedimentos </th>
      <td mat-cell *matCellDef="let problema"> {{problema.procedimentos.length}} </td>
    </ng-container>

    <ng-container matColumnDef="observacoes">
      <th mat-header-cell *matHeaderCellDef> Observações </th>
      <td mat-cell *matCellDef="let problema"> {{problema.observacao}} </td>
    </ng-container>

    <ng-container matColumnDef="acoes">
      <th mat-header-cell *matHeaderCellDef style="text-align: center;">
        <button mat-button color="primary" (click)="openDialog()">
          Cadastarar <i class="fas fa-fw fa-plus"></i>
        </button>
      </th>
      <td mat-cell *matCellDef="let problema" style="text-align: center;">
        <button mat-button color="primary" (click)="openDialog(problema)">
          Gerenciar <i class="fas fa-fw fa-external-link-alt"></i>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <div *ngIf="problemas.length === 0">Nenhum problema a exibir</div>

</div>
