<mat-grid-list cols="5" rowHeight="1:1">
  <mat-grid-tile>
      <mat-card class="card-style">
        <i class="fas fa-fw fa-concierge-bell fa-5x"></i>
        <mat-card-content>
          <br>
          <a [routerLink]="'/servico'" routerLinkActive="active">Gerenciar Servicos</a>
        </mat-card-content>
      </mat-card>
  </mat-grid-tile>
  <mat-grid-tile>
    <mat-card class="card-style">
      <i class="fas fa-fw fa-industry fa-5x"></i>
      <mat-card-content>
        <br>
        <a [routerLink]="'/fabricante'" routerLinkActive="active">Gerenciar Fabricantes</a>
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile>
    <mat-card class="card-style">
      <i class="fas fa-fw fa-mobile-alt fa-5x"></i>
      <mat-card-content>
        <br>
        <a [routerLink]="'/aparelho'" routerLinkActive="active">Gerenciar Aparelhos</a>
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile>
    <mat-card class="card-style">
      <i class="fas fa-fw fa-microchip fa-5x"></i>
      <mat-card-content>
        <br>
        <a [routerLink]="'/peca'" routerLinkActive="active">Gerenciar Peças</a>
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile>
      <mat-card class="card-style">
        <i class="fas fa-fw fa-users fa-5x"></i>
        <mat-card-content>
          <br>
          <a [routerLink]="'/cliente'" routerLinkActive="active">Gerenciar Clientes</a>
        </mat-card-content>
      </mat-card>
  </mat-grid-tile>
  <mat-grid-tile>
    <mat-card class="card-style">
      <i class="fas fa-fw fa-tag fa-5x"></i>
      <mat-card-content>
        <br>
        <a [routerLink]="'/produto'" routerLinkActive="active">Gerenciar Produtos</a>
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile>
    <mat-card class="card-style">
      <i class="fas fa-fw fa-tools fa-5x"></i>
      <mat-card-content>
        <br>
        <a [routerLink]="'/problema'" routerLinkActive="active">Gerenciar Problemas</a>
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile>
    <mat-card class="card-style">
      <i class="fas fa-fw fa-money-check-alt fa-5x"></i>
      <mat-card-content>
        <br>
        <a [routerLink]="'/'" routerLinkActive="active">Gerenciar Vendas</a>
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>
