<div class="container">
  <div class="botao-voltar">
    <br>
    <a mat-stroked-button color="primary" [routerLink]="'/'" routerLinkActive="active">
      <i class="fas fa-fw fa-arrow-left"></i> Voltar
    </a>
  </div>
  <div class="header-pagina">
    <br>
    <h2>Fabricantes</h2>
  </div>

  <mat-form-field style="width:100%">
    <mat-label>Filtrar</mat-label>
    <input matInput (keyup)="applyFilter($event)">
  </mat-form-field>
  <table *ngIf="fabricantes" mat-table [dataSource]="dados">
    <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

    <ng-container matColumnDef="nome">
      <th mat-header-cell *matHeaderCellDef> Nome </th>
      <td mat-cell *matCellDef="let fabricante"> {{fabricante.nome}} </td>
    </ng-container>

    <ng-container matColumnDef="site">
      <th mat-header-cell *matHeaderCellDef> Site oficial </th>
      <td mat-cell *matCellDef="let fabricante">
        <a [href]="'http://' + obterSite(fabricante.siteOficial)" target="_blank"> {{fabricante.siteOficial}} </a>
      </td>
    </ng-container>

    <ng-container matColumnDef="contato">
      <th mat-header-cell *matHeaderCellDef> Contato Principal </th>
      <td mat-cell *matCellDef="let fabricante"> {{fabricante.contatoPrincipal}} </td>
    </ng-container>

    <ng-container matColumnDef="acoes">
      <th mat-header-cell *matHeaderCellDef style="text-align: center;">
        <button mat-button color="primary" (click)="openDialog()">
          Cadastarar <i class="fas fa-fw fa-plus"></i>
        </button>
      </th>
      <td mat-cell *matCellDef="let fabricante" style="text-align: center;">
        <button mat-button color="primary" (click)="openDialog(fabricante)">
          Gerenciar <i class="fas fa-fw fa-external-link-alt"></i>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <div *ngIf="fabricantes.length === 0">Nenhum fabricante a exibir</div>

</div>
