<div class="container">
  <div class="botao-voltar">
    <br>
    <a mat-stroked-button color="primary" [routerLink]="'/'" routerLinkActive="active">
      <i class="fas fa-fw fa-arrow-left"></i> Voltar
    </a>
  </div>
  <div class="header-pagina">
    <br>
    <h2>Vendas</h2>
  </div>

  <mat-form-field style="width:100%">
    <mat-label><i class="fas fa-fw fa-search"></i> Filtrar</mat-label>
    <input matInput (keyup)="applyFilter($event)">
  </mat-form-field>
  <table *ngIf="vendas" mat-table [dataSource]="dados">
    <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

    <ng-container matColumnDef="produto">
      <th mat-header-cell *matHeaderCellDef> Produto </th>
      <td mat-cell *matCellDef="let venda"> {{venda.produto.descricao}} </td>
    </ng-container>

    <ng-container matColumnDef="data">
      <th mat-header-cell *matHeaderCellDef> Data </th>
      <td mat-cell *matCellDef="let venda"> {{venda.data | date:'dd/MM/yyyy':'UTC'}} </td>
    </ng-container>

    <ng-container matColumnDef="valor">
      <th mat-header-cell *matHeaderCellDef> Valor </th>
      <td mat-cell *matCellDef="let venda"> {{venda.valor}} </td>
    </ng-container>

    <ng-container matColumnDef="quantidade">
      <th mat-header-cell *matHeaderCellDef> Quantidade </th>
      <td mat-cell *matCellDef="let venda"> {{venda.quantidade}} </td>
    </ng-container>

    <ng-container matColumnDef="acoes">
      <th mat-header-cell *matHeaderCellDef style="text-align: center;">
        <button mat-button color="primary" (click)="openDialog()">
          Cadastarar <i class="fas fa-fw fa-plus"></i>
        </button>
      </th>
      <td mat-cell *matCellDef="let venda" style="text-align: center;">
        <button mat-button color="primary" (click)="openDialog(venda)">
          Gerenciar <i class="fas fa-fw fa-external-link-alt"></i>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <div *ngIf="vendas.length === 0">Nenhuma venda a exibir</div>

</div>
